.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem;
    background-color: #0f172a;
   
    margin-right: 3rem;
    flex-wrap: wrap;
    border-radius: 2rem;
    overflow: auto;
    height: 34rem;
    margin-top: 3rem;
}

.container-cards::-webkit-scrollbar {
    width: 0.1em; 
}

.area-title {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    justify-content: center;
    color: #FFF;
  
   input {
    width: 7rem;
    height: 1.7rem;
    background-color: #0f172a;
    font-size: 1.5rem;
    margin-right: 1rem;
    border-radius: 1rem;
    border-color: #FFF;
    padding: 1rem;
   }

   button {
    background: rgb(37,99,235);
    background: rgb(29,78,216);
    background: rgb(29,78,216);
    background: radial-gradient(circle, rgba(29,78,216,1) 0%, rgba(37,99,235,1) 46%);
    font-size: 1.1rem;
    border-radius: 2rem;
   }
}

.area-form {
    display: flex;
    align-items: center;
   
}

.card  {
    background: rgb(37,99,235);
    background: rgb(29,78,216);
    background: rgb(29,78,216);
    background: radial-gradient(circle, rgba(29,78,216,1) 0%, rgba(37,99,235,1) 46%);
    border-radius: 2rem;
    color: #FFF;
    height: 12rem;
    margin-bottom: 2rem;
    font-weight: bold;

}

h3 {
    font-weight: bold;
    font-size: 1.1rem;
}

.button {
    background-color: #020617;
    color: #FFF;
}

.link {
    color: #FFF;
    border-radius: 3rem;
}

.link:hover {
    color: #000;
}

.modal {
    border-radius: 10rem;
}

.categories {
    font-weight: bold;
}
