<div class="container">
  <div class="word-waves">
    <span>Welcome to MyPosts</span>
    <span>Welcome to MyPosts</span>
  </div>

  <div class="content">
    <div class="links">
      <h1>O que você deseja fazer?</h1>
      <div class="view-posts">
        <div class="link">
          <a data-cy="link-all-posts" routerLink="/welcome/list"
            >Listar todas as publicações</a
          >
        </div>

        <div class="link">
          <a data-cy="link-user-posts" routerLink="/welcome/userPosts"
            >Listar publicações do usuário conectado</a
          >
        </div>
      </div>

      <div class="link">
        <a data-cy="link-create-posts" routerLink="/welcome/createPosts"
          >Criar Publicação</a
        >
      </div>

      <div class="link">
        <a data-cy="link-update-posts" routerLink="/welcome/updatePosts"
          >Atualizar Publicação</a
        >
      </div>
      <div class="link">
        <a data-cy="link-delete-posts" routerLink="/welcome/deletePosts"
          >Deletar Publicação</a
        >
      </div>
    </div>
  </div>
</div>
