<div class="container">
  <div class="container-list-user-cards">
    <ul *ngFor="let post of postsUser">
      <nz-card
        style="width: 300px"
        nzTitle="{{ 'ID ' + post.id }}"
        [nzExtra]="extraTemplate"
        class="card"
      >
        <h3>{{ post.title | capitalizeFirstLetter }}</h3>
      </nz-card>
      <ng-template #extraTemplate>
        <a
          class="link"
          nz-button
          [nzType]="'primary'"
          (click)="showModal(post.id)"
          >Details</a
        >
        <nz-modal
          [(nzVisible)]="isVisible"
          nzTitle="Detalhes da Postagem"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          class="modal"
          [nzBodyStyle]="{ 'background-color': ' rgba(37,99,235,1)' }"
          [nzWidth]="'50rem'"
          [nzWidth]="'600px'"
        >
          <ng-container *nzModalContent>
            <h1><span class="categories">ID: </span>{{ detailsPost.id }}</h1>
            <h1>
              <span class="categories">Title: </span
              >{{ detailsPost.title | capitalizeFirstLetter }}
            </h1>
            <h1>
              <span class="categories">Content: </span
              >{{ detailsPost.body | capitalizeFirstLetter }}
            </h1>
          </ng-container>
        </nz-modal>
      </ng-template>
    </ul>
  </div>
</div>
