.container {
  display: flex;
  height: 42rem;
  justify-content: center;
  align-items: center;
  background: rgb(15, 23, 42);
  background: linear-gradient(
    90deg,
    rgba(15, 23, 42, 1) 0%,
    rgba(0, 21, 41, 1) 50%,
    rgba(15, 23, 42, 1) 100%
  );
  border-radius: 3rem;
  font-size: 1.4rem;
  color: #fff;

  h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  input,
  textarea,
  select {
    width: 35rem;
    padding: 0.3rem;
    padding-inline: 0.8rem;
    background: #001529;

    border: 0.18rem solid #e2e8f0;
    border-radius: 0.4rem;
  }

  select {
    margin-block: 1rem;
  }

  label {
    margin-top: 0.5rem;
  }

  button {
    margin-top: 3rem;
    height: 3rem;
    font-size: 1.4rem;
    border-radius: 0.4rem;
  }

  button:hover {
    opacity: 0.8;
  }
}

.container-form form {
  border: 1px solid #e2e8f0;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  max-height: 40rem;
}

.validation-error p {
  color: #dc3545;
  margin-top: 0.4em;
  border-left: 3px solid #dc3545;
  padding-left: 0.2em;
}
