<div class="container">
  <div class="container-form">
    <form (ngSubmit)="submit()" [formGroup]="updateForm" #formDir="ngForm">
      <label for="posts">Selecione a postagem que deseja atualizar:</label>

      <select id="posts" formControlName="post" (change)="searchPostId($event)">
        <option *ngFor="let post of postsUser" value="{{ post.id }}">
          {{ post.title | capitalizeFirstLetter }}
        </option>
      </select>

      <div *ngIf="post.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="post.errors?.['required']">
          Por favor selecione uma postagem para editar.
        </p>
      </div>

      <h2>Digite os dados da publicação:</h2>

      <label for="body">Body:</label>
      <textarea
        type="text"
        id="body"
        placeholder="Digite o novo conteúdo da sua publicação"
        formControlName="body"
        required
      ></textarea>

      <div *ngIf="body.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="body.errors?.['required']">O novo conteúdo é obrigatório!</p>
      </div>

      <div class="alert" *ngIf="alertSucess">
        <nz-alert
          style="height: 10re[]"
          nzShowIcon
          nzType="success"
          nzMessage="Publicação atualizada com sucesso"
          [nzAction]="actionTemplate1"
        ></nz-alert>
        <ng-template #actionTemplate1>
          <button nz-button nzSize="small" nzType="text">
            Ver Publicação
          </button></ng-template
        >
      </div>

      <div class="alert" *ngIf="alertError">
        <nz-alert
          nzShowIcon
          nzType="error"
          nzMessage="Erro ao atualizar Publicação"
          [nzDescription]="descriptionTemplate1"
          [nzAction]="actionTemplate2"
        >
        </nz-alert>
        <ng-template #descriptionTemplate1>
          <p>
            Houve um erro ao atualizar a publicação! Por favor tente novamente.
          </p>
        </ng-template>
        <ng-template #actionTemplate2> </ng-template>
      </div>

      <button nz-button nzType="primary">Atualizar Publicação</button>
    </form>
  </div>
</div>
