<div class="container">
  <div class="container-form">
    <form (ngSubmit)="submit()" [formGroup]="updateForm" #formDir="ngForm">
      <label for="posts">Selecione a postagem que deseja atualizar:</label>

      <select id="posts" formControlName="post">
        <option value="1">Publicação 1</option>
        <option value="2">Publicação 2</option>
        <option value="3">Publicação 3</option>
        <option value="4">Publicação 4</option>
        <option value="1">Publicação 1</option>
        <option value="2">Publicação 2</option>
        <option value="3">Publicação 3</option>
        <option value="4">Publicação 4</option>
        <option value="1">Publicação 1</option>
        <option value="2">Publicação 2</option>
        <option value="3">Publicação 3</option>
        <option value="4">Publicação 4</option>
      </select>

      <div *ngIf="post.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="post.errors?.['required']">
          Por favor selecione uma postagem para editar.
        </p>
      </div>

      <h2>Digite os dados da publicação:</h2>

      <label for="body">Body:</label>
      <textarea
        type="text"
        id="body"
        placeholder="Digite o novo conteúdo da sua publicação"
        formControlName="body"
        required
      ></textarea>

      <div *ngIf="body.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="body.errors?.['required']">O novo conteúdo é obrigatório!</p>
      </div>

      <button nz-button nzType="primary">Atualizar Publicação</button>
    </form>
  </div>
</div>
