<div class="container">
  <div class="container-form">
    <form (ngSubmit)="submit()" [formGroup]="postForm" #formDir="ngForm">
      <h2>Digite os dados da publicação:</h2>
      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        placeholder="Digite o título da sua publicação"
        formControlName="title"
        required
      />

      <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="title.errors?.['required']">O título é obrigatório!</p>
      </div>

      <label for="body">Body:</label>
      <textarea
        type="text"
        id="body"
        placeholder="Digite o conteúdo da sua publicação"
        formControlName="body"
        required
      ></textarea>

      <div *ngIf="body.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="body.errors?.['required']">O conteúdo é obrigatório!</p>
      </div>
      <div class="alert" *ngIf="alertSucess">
        <nz-alert
          nzShowIcon
          nzType="success"
          nzMessage="Publicação criada com sucesso"
          [nzAction]="actionTemplate1"
        ></nz-alert>
        <ng-template #actionTemplate1>
          <button nz-button nzSize="small" nzType="text" (click)="showModal()">
            Ver Publicação
          </button></ng-template
        >
        <nz-modal
          [(nzVisible)]="isVisible"
          nzTitle="Detalhes da Postagem"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          class="modal"
          [nzBodyStyle]="{ 'background-color': ' rgba(37,99,235,1)' }"
          [nzWidth]="'50rem'"
          [nzWidth]="'600px'"
        >
          <ng-container *nzModalContent>
            <h1><span class="categories">ID: </span>{{ postCreated.id }}</h1>
            <h1>
              <span class="categories">Title: </span
              >{{ postCreated.title | capitalizeFirstLetter }}
            </h1>
            <h1>
              <span class="categories">Content: </span
              >{{ postCreated.body | capitalizeFirstLetter }}
            </h1>
          </ng-container>
        </nz-modal>
      </div>

      <div class="alert" *ngIf="alertError">
        <nz-alert
          nzShowIcon
          nzType="error"
          nzMessage="Erro ao criar Publicação"
          [nzDescription]="descriptionTemplate1"
          [nzAction]="actionTemplate2"
        >
        </nz-alert>
        <ng-template #descriptionTemplate1>
          <p>Houve um erro ao criar a publicação! Por favor tente novamente.</p>
        </ng-template>
        <ng-template #actionTemplate2> </ng-template>
      </div>

      <button nz-button nzType="primary">Primary Button</button>
    </form>
  </div>
</div>
