<div class="container">
  <div class="container-form">
    <form (ngSubmit)="submit()" [formGroup]="postForm" #formDir="ngForm">
      <h2 *ngIf="!buttonNewPost">Digite os dados da publicação:</h2>
      <label *ngIf="!buttonNewPost" for="title">Title:</label>
      <input
        *ngIf="!buttonNewPost"
        type="text"
        id="title"
        placeholder="Digite o título da sua publicação"
        formControlName="title"
        required
      />

      <div
        *ngIf="title.invalid && formDir.submitted && !alertSuccess"
        class="validation-error"
      >
        <p *ngIf="title.errors?.['required']">O título é obrigatório!</p>
        <p *ngIf="title.errors?.['minlength']">
          O título deve conter no mínimo 5 caracteres!
        </p>
      </div>

      <label *ngIf="!buttonNewPost" for="body">Body:</label>
      <textarea
        *ngIf="!buttonNewPost"
        type="text"
        id="body"
        placeholder="Digite o conteúdo da sua publicação"
        formControlName="body"
        required
      ></textarea>

      <div
        *ngIf="body.invalid && formDir.submitted && !alertSuccess"
        class="validation-error"
      >
        <p *ngIf="body.errors?.['required']">O conteúdo é obrigatório!</p>
        <p *ngIf="body.errors?.['minlength']">
          O conteúdo deve conter no mínimo 10 caracteres!
        </p>
      </div>
      <div class="alert" *ngIf="alertSuccess">
        <nz-alert
          nzShowIcon
          nzType="success"
          nzMessage="Publicação criada com sucesso"
          [nzAction]="actionTemplate1"
        ></nz-alert>
        <ng-template #actionTemplate1>
          <button
            data-cy="btn-see-create-post"
            nz-button
            nzSize="small"
            nzType="text"
            (click)="showModal()"
          >
            Ver Publicação
          </button></ng-template
        >
        <nz-modal
          [(nzVisible)]="isVisible"
          nzTitle="Detalhes da Postagem"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          class="modal"
          [nzBodyStyle]="{ 'background-color': ' rgba(37,99,235,1)' }"
          [nzWidth]="'50rem'"
          [nzWidth]="'600px'"
        >
          <ng-container *nzModalContent>
            <h1><span class="categories">ID: </span>{{ postCreated.id }}</h1>
            <h1>
              <span class="categories">Title: </span
              >{{ postCreated.title | capitalizeFirstLetter }}
            </h1>
            <h1>
              <span class="categories">Content: </span
              >{{ postCreated.body | capitalizeFirstLetter }}
            </h1>
          </ng-container>
        </nz-modal>
      </div>

      <div class="alert" *ngIf="alertError">
        <nz-alert
          nzShowIcon
          nzType="error"
          nzMessage="Erro ao criar Publicação"
          [nzDescription]="descriptionTemplate1"
          [nzAction]="actionTemplate2"
        >
        </nz-alert>
        <ng-template #descriptionTemplate1>
          <p>Houve um erro ao criar a publicação! Por favor tente novamente.</p>
        </ng-template>
        <ng-template #actionTemplate2> </ng-template>
      </div>

      <button *ngIf="!buttonNewPost" nz-button nzType="primary">
        Criar Publicação
      </button>

      <button
        *ngIf="buttonNewPost"
        nz-button
        nzType="primary"
        class="button-new-post"
        (click)="changeButtonSubmit()"
      >
        Nova Publicação
      </button>
    </form>
  </div>
</div>
