.container {

    display: flex;
    height: 95%;
    justify-content: center;
    align-items: center;
    background-color: #0f172a;
    border-radius: 3rem;
    font-size: 1.4rem;
    color: #FFF;

    h2 {
        color: #FFF;
        font-size: 1.5rem;
    }

    input, textarea {
        width: 25rem;
        padding: 0.3rem;
        padding-inline: 0.8rem;
        background-color: #0f172a;
        border: 0.18rem solid #e2e8f0;
        border-radius: 0.4rem;   
    }

    label {
        margin-top: 0.5rem;
    }

}

.container-form form {
    border: 1px solid #e2e8f0;
    border-radius: 2rem;;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    
    
}