/* You can add global styles to this file, and also import other style files */
.modal-custom .ant-modal-content {
    background-color: #000; /* Cor de fundo personalizada para o modal */
  }
  
  .modal-custom .ant-modal-header {
    background-color: #000; /* Cor de fundo personalizada para o cabeçalho */
  }
  
  .modal-custom .ant-modal-footer {
    background-color: #000; /* Cor de fundo personalizada para o rodapé */
  }